body {
    overflow-x: hidden;
    padding-top: 60px;
    max-width: 1920px;
    margin: auto;
}

/*@font-face {
    font-family: 'flat-jooza';
    src: url('fonts/flat-jooza-regular.ttf')  format('truetype'), /* Safari, Android, iOS */

/*@font-face {
    font-family: 'sky-bold';
    src: url('fonts/sky-bold.ttf')  format('truetype'), /* Safari, Android, iOS */

.arFontTitle {
    font-family: "sky" !important;
}
.arFontText {
    font-family: "flat-jooza" !important;
}
.bg-color {
    background: #fbfbfb;
}
/* General styles */
h1 {
    font-size: 50px;
    color: #fff;
    font-family: "Nunito", sans-serif;
}
h3,
h2,
h4 {
    font-size: 36px;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
}

.red-star {
    color: red;
}
.pRight {
    right: 0 !important;
}
.inline {
    display: inline-block;
}
.navAr {
    padding: 0;
    margin: auto;
}
.uploaded .close,
.delete-btn {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 1px;
    font-weight: 400;
    width: 20px;
    color: #fff;
    border-radius: 50%;
    height: 20px;
    background: #2680eb;
    margin-left: 15px;
    line-height: 0.4;
}
.delete-btn.position-right {
    right: 0;
    line-height: 0.6;
}

.close:hover {
    color: #fff !important;
}
.none {
    display: none;
}
h4 {
    font-size: 24px;
}
p {
    margin-bottom: 0;
}
.dir {
    direction: rtl !important;
}
.flotR {
    float: right !important;
}
.right {
    text-align: right !important;
}
.brd-left {
    border-left: 1px solid #c5c5c5;
}
.dropdown-menu.righty::after {
    /* left: 148px;
    top: -50px;
    transform: rotate(222deg);
    -moz-transform: rotate(222deg);
    -ms-transform: rotate(222deg);
    -o-transform: rotate(222deg);
    -webkit-transform: rotate(222deg); */
}
.links {
    color: #5891c1;
    font-size: 14px;
    font-family: open Sans;
    font-weight: 500;
}
.links:hover {
    text-decoration: none;
}
.bordrRight {
    border-right: 1px solid #c5c5c5;
    border-left: 0;
}
.floatLeft {
    float: left !important;
}
button,
input,
optgroup,
select,
textarea {
    font-family: none;
}
.blue-btn {
    background: #2680eb;
    color: #fff;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
    font-size: 15px;
    width: 70%;
    padding: 10px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    border: 2px solid #2680eb;
}
.blue-btn:hover {
    background: #fff;
    color: #2680eb;
    border: 2px solid #2680eb;
}
img {
    max-width: 100%;
    height: auto;
}
.noMargTop {
    margin-top: 0 !important;
}
.left {
    text-align: left !important;
}
.center {
    text-align: center !important;
}
.noPadding {
    padding: 0;
}
.noPaddingL {
    padding-left: 0;
}
.noPaddingR {
    padding-right: 0;
}
.signUp-menu {
    color: #fff !important;
    font-family: "Nunito", sans-serif;
    background: #f79422;
    border-radius: 20px;
    padding: 5px 40px;
    border: 2px solid #f79422 !important;
    transition: all 0.3s ease-in-out;
    margin: 0 0.5rem;
    /* width: 169px; */
}
.signUp-menu:hover,
.signUp-menu:focus,
.signUp-menu:active {
    background-color: #fff !important;
    border: 2px solid #f79422 !important;
    color: #f79422 !important;
    box-shadow: none;
}
.padLeft {
    padding-left: 15px;
}
.active {
    border-bottom: 2px solid #000;
    transition: width 0.2s ease-in-out;
}
/* Start NavBar  */
header.container-fluid {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    min-height: 50px;
    z-index: 9999;
}
.bg-light {
    background-color: #fff !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #0a0a0a !important;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: "Nunito", sans-serif;
    border: 2px solid #fff !important;
}
.registration .btn:first-of-type:hover,
.registration .btn:first-of-type:focus,
.registration .btn:first-of-type:active {
    background-color: #fff !important;
    box-shadow: none;
}
.registration .btn {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: unset;
}
.registration .dropdown {
    display: inline-block;
}
.registration .dropdown .dropdown-toggle {
    padding: 0.375rem 0;
}
.dropdown-menu {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    height: 85px;
    width: 130px;
    border: none !important;
    right: 0 !important;
    left: unset !important;
    text-align: right;
    margin-top: 15px;
}
.dropdown-menu::after {
    background-color: #ffffff;
    box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.16);
    content: "\00a0";
    display: block;
    height: 20px;
    left: 104px;
    top: -80px;
    position: relative;
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    width: 20px;
    z-index: -1;
}
.dropdown-menu.righty::after {
    left: -30px;
}
@media (max-width: 991px) {
    .registration .btn {
        display: block;
        /* text-align: left; */
    }
    .registration .btn.signUp-menu {
        /* padding-left: 10px; */
        /* margin-left: -5px; */
        float: left;
    }
    .dropdown-menu {
        top: -23px;
        right: -165px !important;
    }
    .dropdown-menu::after {
        left: -148px;
        top: -50px;
        transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        -ms-transform: rotate(-315deg);
        -o-transform: rotate(-315deg);
        -webkit-transform: rotate(-315deg);
    }
    .dropdown-menu.lefty {
        top: -23px;
        right: -165px !important;
    }
    .dropdown-menu.righty {
        top: -23px;
        right: 80px !important;
    }
    .dropdown-menu.lefty::after {
        left: -148px !important;
        top: -50px !important;
        transform: rotate(-315deg) !important;
        -moz-transform: rotate(-315deg) !important;
        -ms-transform: rotate(-315deg) !important;
        -o-transform: rotate(-315deg) !important;
        -webkit-transform: rotate(-315deg) !important;
    }
    .dropdown-menu.righty::after {
        left: 148px !important;
        top: -50px !important;
        transform: rotate(225deg) !important;
        -moz-transform: rotate(225deg) !important;
        -ms-transform: rotate(225deg) !important;
        -o-transform: rotate(225deg) !important;
        -webkit-transform: rotate(225deg) !important;
    }
}
/* end NavBar  */

/* start bannar */
.bannar {
    background-image: url("../imgs/bannar.png");
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    /* min-height: 500px; */
    position: relative;
}
.bannar .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* width: 85%; */
}
.bannar a {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 80%;
    left: 50%;
    animation: upside 0.5s linear infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
@keyframes upside {
    from {
        top: 77%;
    }
    to {
        top: 80%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .bannar {
        height: 520px;
        min-height: 520px;
    }
    .bannar h1 {
        font-size: 40px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .bannar {
        height: 520px;
        min-height: 520px;
    }
    .bannar h1 {
        font-size: 25px;
    }
    .solutions figcaption {
        font-size: 14px !important;
    }
    .smart,
    .cost,
    .know {
        min-height: 220px !important;
    }
    .solutions h2 {
        margin-top: 30px !important;
    }
    footer .social-media,
    footer .copyright {
        text-align: center !important;
    }
}
/* end bannar  */

/* start aboutUs */
.about {
    min-height: 512px;
    background: #fff;
    margin: auto;
    padding: 80px 0;
    padding-bottom: 0;
}
.about img {
    max-width: 100%;
    height: auto;
    max-height: 80%;
}
.about p,
.solutions p {
    font-family: open sans;
    font-size: 16px;
    margin-bottom: 30px;
}
/* end aboutUs */

/* start solutions */
.solutions {
    min-height: 750px;
    background: #fbfbfb;
    padding: 70px 0;
}
.solutions:after {
    content: "";
    display: block;
    clear: both;
}
.solutions h2 {
    margin: 30px 0;
    margin-top: 0;
}
.solutions h3 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 30px;
}
.nav-tabs .nav-link {
    transition: all 0.1s ease-in-out;
    border: 0;
    border-bottom: 5px solid #fff;
    margin-bottom: 0;
    height: 100%;
    text-align: center !important;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
    transition: all 0.3s ease;
}
.nav-tabs li {
    outline: 0;
}
.nav-tabs li .nav-link.active {
    border-bottom: 5px solid #0e0e0e;
    background: #fff;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    background-color: #fff;
    border: 0;
    border-bottom: 5px solid #0e0e0e;
    outline: 0;
}
.tab-pane.active {
    border: 0;
}
.solutions figcaption {
    font-size: 18px;
    font-family: Open sans;
    margin-top: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.solutions .figure:hover figcaption,
.nav-link.active figcaption {
    color: #0a0a0a;
}
.solutions ul.nav-tabs {
    text-align: center;
    padding: 0;
}
.nav-justified .nav-item {
    background: #fff;
}
.nav-justified .nav-item:first-of-type {
    margin-left: 15px;
}
.nav-justified .nav-item:last-of-type {
    margin-right: 15px;
}
.smart,
.cost,
.know {
    min-height: 392px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.smart {
    background-image: url("../imgs/smartcontrolimage.png");
}
.cost {
    background-image: url("../imgs/managecost.png");
}
.know {
    background-image: url("../imgs/knowledgeimage.png");
}
.solutions .icons {
    text-align: center;
}
.nav-tabs {
    border: 0;
}
.solutions ul {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    color: #0e0e0e;
    font-weight: 500;
    margin-bottom: 50px;
}
.tab-pane > div {
    float: left;
}
/* end solutions */

/* start contacts */
.contacts {
    font-family: "Nunito", sans-serif;
    text-align: center;
    padding: 70px 0;
    margin: auto;
    background-color: #f2f2f2;
}
.contacts p {
    font-size: 48px;
    margin-bottom: 50px;
    padding: 0 20px;
}
@media (max-width: 991px) {
    .contacts p {
        font-size: 25px;
        margin: 50px 0 0 0;
        padding: 0 30px;
    }
    .navbar-brand img {
        width: 70%;
    }
    .navbar-light {
        direction: rtl;
    }
    .navbar-brand {
        text-align: right;
    }
    .navbar-nav {
        padding: 0;
    }
    .contacts {
        display: flex;
        flex-flow: column;
    }
    .contacts p {
        /* order: 2; */
    }
    .contacts a {
        /* order: 1; */
        margin: auto;
        margin-top: 2rem !important;
    }
    .about,
    .solutions,
    .contactUs {
        padding: 30px 0;
    }
    .solutions figcaption {
        margin-bottom: 0 !important;
    }
}
.contacts .btn {
    background: #2680eb;
    color: #fff;
    font-family: "Nunito", sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    width: 280px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    border-radius: 27px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    text-align: center !important;
}
.contacts .btn:hover,
.contacts .btn:focus,
.contacts .btn:active {
    background: #fff;
    color: #2680eb;
    border: 2px solid #2680eb;
}
/* end contacts */

/* start footer */
footer {
    min-height: 64px;
    background: #f2f2f2;
    font-size: 12px;
    font-family: open sans;
}
footer .copyright {
    line-height: 64px;
}
footer .copyright a:nth-child(3) {
    margin: 0 15px;
}
footer .social-media {
    line-height: 64px;
    text-align: right;
}
footer .social-media p,
footer .copyright p:first-of-type {
    font-size: 16px;
}
footer .social-media p span,
footer .copyright p:first-of-type span {
    margin-right: 10px;
}
/* end footer */

/* Media */
@media (max-width: 991.98px) {
    .bannar {
        height: 50vh;
    }
    .btn {
        /* padding-left: 0; */
    }
}

/* signUp Page */
.contactUs {
    /* min-height: calc(100vh - 64px); */
    min-height: 200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    margin: 70px auto !important;
    border-radius: 5px;
    background: #fff;
}
.contactUs .left p,
.contactUs .left .links {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}
.contactUs .left .links {
    margin-top: 0;
}
.contactUs h4 {
    margin: 30px;
}
label {
    font-family: Open Sans;
    font-size: 14px !important;
    font-weight: 600;
    text-transform: capitalize;
}
input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
    color: #bebebe !important;
    font-family: Open Sans;
    font-size: 14px !important;
}
input,
select,
textarea {
    border: 0 !important;
    border-bottom: 1px solid #c1c1c1 !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
    color: #000 !important;
    /*font-size: 14px !important;*/
}
.form-control:focus {
    box-shadow: none !important;
}
.country {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.contactUs form .signUp-menu {
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    display: block;
    margin-top: 2rem !important;
    padding: 5px 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.22);
    margin-bottom: 25px;
}
.hasAccount {
    text-align: center;
    margin: 2rem 0;
}
.hasAccount p {
    display: inline-block;
    font-size: 14px;
    font-family: open sans;
}
.signUpBg {
    background-image: url(../imgs/logBg.png);
    min-height: 460px; /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
}
.signUpBg p {
    font-size: 32px;
    color: #fff;
    font-family: "Nunito", sans-serif;
    width: 85%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.modal-open .modal {
    padding: 0;
}
.modal-body {
    text-align: center;
    padding: 50px;
}
.modal-body p {
    margin-top: 20px;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 500;
    line-height: 27px;
}
.modal-dialog {
    max-width: 840px;
}
.cust-checkMark {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.cust-checkMark input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: block;
}
/* Show the checkmark when checked */
.cust-checkMark input:checked ~ .checkmark:after {
    display: none;
}

/* Style the checkmark/indicator */
.cust-checkMark .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #f79422;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* profile */
.profile .reSign-as img,
.profile .reSign-as a {
    display: block;
    text-align: center;
    margin: 30px auto;
}
.profile .reSign-as .rest {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.profile .reSign-as .container {
    margin-top: 55px;
}
.profile .reSign-as .container:last-of-type {
    margin-top: 130px;
}
img.profily {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 15px;
}
.editting h4 {
    display: inline-block;
}
form {
    margin-top: 30px;
}
.editting a {
    float: right;
    margin: 40px;
    cursor: pointer;
}
.custom-file label {
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 12px !important;
    font-weight: 100 !important;
    margin-left: 15px;
}
.custom-file-input,
.custom-file {
    height: 0 !important;
}
.edit-btn {
    width: 45% !important;
    display: inline-block !important;
    font-weight: 300 !important;
}
.edit-btn:last-of-type {
    float: right;
    background: #fff;
    border: 1px solid #484748 !important;
    color: #484748 !important;
}
form p {
    font-size: 14px;
    font-weight: 200;
    font-family: Open Sans;
    margin-bottom: 25px;
}

/* joining pages */
.joinMemBg {
    background-image: url(../imgs/member.png);
    min-height: 460px;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
}
.join .blue-btn {
    margin: auto;
    width: 90%;
    border-radius: 27px;
    margin: 20px 0;
    margin-left: 15px;
}
.joinRestBg {
    background-image: url(../imgs/restruant.png);
    min-height: 460px;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
}
.profile .center {
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 600;
    /* margin-top: 80px; */
}
.profile .center p:last-of-type {
    color: #a8283d;
}
.profile .center img {
    display: inline-block;
    margin-right: 10px;
}
.restsText {
    margin-top: 0 !important;
}
.restsText p {
    color: #0e0e0e !important;
}
.join .uploaded img {
    margin-left: 15px;
}
.join .uploded-img-restaurant img {
    max-width: 138px;
    height: auto;
    max-height: 80px;
}

.contactUs > div {
    padding-bottom: 20px;
}
.join .contactUs {
    margin: 140px auto !important;
}

/*mf*/

.why-us-ul li {
    white-space: nowrap;
    margin: 0 15px;
}

.direction-ltr {
    direction: ltr;
}

.main-navbar--ar {
    direction: ltr;
}
.main-navbar--ar .navbar-brand {
    text-align: left;
}

.main-navbar--ar .dropdown-menu {
    /* right: 72px !important; */
}

div.padding-right {
    text-align: right !important;
    padding: 0 10px;
}

.reset-password-form {
    padding: 0 20px;
}

.register-section {
    padding-top: 80px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.alreadyhava-text {
    padding-bottom: 20px;
}

.signup-form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 10px;
}
.signup-form input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 10px;
}
.signup-form input:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 10px;
}
.signup-form input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 10px;
}

.arFontTitle .figure-caption {
    font-family: "sky" !important;
}

.social-media a {
    margin: 0 5px;
}

.reset-password-page {
    margin-top: 120px !important;
}
.reset-password-page .reset-btn {
    border-radius: 20px !important;
}
.reset-password-page .login-link {
    font-size: 15px;
    font-weight: 600;
}

.recover-password-page {
    margin-top: 150px !important;
}

/* Ahmed Hafez */
header,
nav {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
nav.navbar::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 6px;
    pointer-events: none;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0,
        rgba(0, 0, 0, 0.1) 40%,
        rgba(0, 0, 0, 0.05) 50%,
        transparent 80%,
        transparent
    );
}

@media (max-width: 767px) {
    .why-us-wrapper {
        display: block !important;
    }
    .why-us-ul {
        margin-bottom: 0 !important;
    }
}
@media (max-width: 991px) {
    .navbar-collapse .navbar-nav {
        list-style: unset;
        padding: 0 1rem;
        direction: ltr;
    }

    .navbar-collapse.right .navbar-nav {
        direction: rtl;
    }
}
@media (max-width: 576px) {
    .navbar .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
#blog-articles {
    padding: 90px 16px;
}
#blog-articles ._header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: bold;
}
#blog-articles ._header p:first-of-type {
    font-size: 30px;
    color: #0e0e0e;
    font-weight: 400;
    text-transform: capitalize;
}
#blog-articles ._header p:last-of-type {
    font-size: 16px;
    color: #2680eb;
    text-transform: capitalize;
}
#blog-articles .slide-token {
    position: relative;
}
#blog-articles .slide-token .overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 220px;
    padding: 7px;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 145px;
    border-radius: 5px;
}
#blog-articles .slide-token .overlay span {
    display: block;
}
#blog-articles .slide-token .overlay .inner-overlay {
    height: 70px;
    display: block;
}
#blog-articles .slide-token .overlay .inner-overlay span:first-of-type {
    font-size: 12px;
    color: #f79422;
    font-weight: bold;
}
#blog-articles .slide-token .overlay .inner-overlay span:last-of-type {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
#blog-articles .owl-nav {
    width: 100%;
}
#blog-articles .owl-nav button {
    font-size: 50px;
    width: 55px;
    height: 55px;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 50% !important;
    margin: 0 1rem;
    position: relative;
}
#blog-articles .owl-nav button:hover {
    color: #f79422;
}
#blog-articles .owl-nav button:first-of-type {
    margin-left: -25px;
}
#blog-articles .owl-nav button:last-of-type {
    margin-right: -25px;
}

#blog-articles .owl-nav button span {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

#blog-articles .owl-carousel .owl-item {
}
#blog-articles .owl-carousel .owl-item img {
    height: 220px;
    border-radius: 5px;
}
@media (min-width: 450px) {
    #blog-articles .owl-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
    }
    #blog-articles .owl-nav button {
        margin: 0;
    }
}

#newsletter {
    margin-bottom: -50px;
    position: relative;
    z-index: 5555555;
}
#newsletter .container {
    height: 100px;
    background-color: #f79422;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#newsletter .container .title {
    color: #0e0e0e;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#newsletter .container form {
    margin-top: 0;
    width: 60%;
}
#newsletter .container .input-group {
    height: 60px;
}
#newsletter .container .input-group .form-control {
    padding: 0.5rem !important;
    height: 60px;
}
#newsletter .container .input-group .input-group-text {
    background-color: #2680eb;
    border-color: #2680eb !important;
    color: #fff !important;
    height: 60px;
    width: 100px;
    justify-content: center;
    cursor: pointer;
}
@media (max-width: 576px) {
    #newsletter .container .title {
        flex: 1;
    }
    #newsletter .container form {
        width: 95%;
        margin: auto;
    }
    #newsletter .container .input-group {
        margin-bottom: 0.5rem;
    }
}

.home-page-footer {
    padding-top: 70px;
}

/********** rtl ovverrides ************/
body[dir="rtl"] #blog-articles {
    direction: ltr;
}
body[dir="rtl"] #blog-articles .overlay {
    direction: rtl;
    text-align: right;
}
