.error, .parsley-required, .parsley-errors-list{
    color: #B94A48;
}
.btn{
    padding: 0.50rem 0.50rem;
}
.btn.btn-warning {
    color: #fff;
}

.m-aside-left {
width: 300px;
}
.m-stack .m-brand {
width: 300px;
}
.m-menu__nav .m-menu__item .m-menu__link i,
.m-menu__nav .m-menu__item .m-menu__link span{
color: #eaecfc !important;
}
.m-menu__nav .m-menu__item .m-menu__link span.m-menu__link-text{
font-size: 1.2rem !important;
}
.m-menu__submenu .m-menu__subnav .m-menu__item .m-menu__link-icon {
color: #eaecfc !important;
}
.m-menu__submenu .m-menu__subnav .m-menu__item span.m-menu__link-text{
color: #eaecfc !important;
font-size: 1.15rem !important;
}